@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,600;0,9..40,700;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,600;1,9..40,700;1,9..40,900;1,9..40,1000&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-50 {
  color: #9ca3af;
  font-size: 12px;
  font-weight: 700;
}

.text-100 {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

div.movie-card {
  width: 250px;
  border-radius: 6px;
}

div.movie-tags {
  top: 10px;
  width: 100%;
  padding: 0 12px 0 12px;
}

div.movie-sidebar {
  width: 226px;
  height: 100vh;
  border-radius: 0px 45px 0px 0px;
  border: 1px solid #0000004D;
}

div.movie-nav-item {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 60px;
  padding: 8px;
}

div.movie-nav .movie-nav-item:hover {
  background-color: #BE123C1A;
  border-right: 4px solid #BE123C;
}

div.movie-nav-card {
  width: 170px;
  border-radius: 20px;
  border: 1px solid rgba(190, 18, 60, 0.70);
  background: rgba(248, 231, 235, 0.40);
  margin: auto;
  padding: 8px;
}

.movie-nav-card p:first-child {
  color: rgba(51, 51, 51, 0.80);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.movie-nav-card p:nth-child(2) {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movie-nav-card button {
  width: 112px;
  height: 30px;
  outline: none;
  border-radius: 30px;
  background: rgba(190, 18, 60, 0.20);
  border: 1px solid rgba(190, 18, 60, 0.70);
  color: #BE123C;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: auto;
}

.movie-nav-card p:last-child {
  width: 100%;
  text-align: center;
}

.ml-1 {
  margin-left: 4px;
}